MAILTO=""

# run every month
0 0 1 * * /bin/bash -l -c 'cd /home/deploy/lurker_api && /usr/local/bin/docker-compose -f production.yml run --rm rails_server bundle exec rake db:truncate --silent >> /tmp/cron_log.log 2>&1'
