events {
  worker_connections 1024;
}

http {
  include /etc/nginx/mime.types;
  include /etc/nginx/upstreams.conf;

  server {
    listen 80;
    server_name {{hostname}};

    location ^~ /.well-known {
      allow all;
      root  /data/letsencrypt/;
    }

    location / {
      return 301 https://$server_name$request_uri;
    }
  }

  server {
    listen 443 ssl;
    include /etc/nginx/ssl.conf;
    include /etc/nginx/routes.conf;

    server_name {{hostname}};
    root /var/slackerboard;

    location ^~ /.well-known {
      allow all;
      root  /data/letsencrypt/;
    }

    location / {
      try_files $uri /index.html;
    }
  }

  # websocket
  server {
    listen 4200 ssl;
    include /etc/nginx/ssl.conf;

    location / {
      proxy_pass http://socket_io_proxy;
      proxy_http_version 1.1;
      proxy_set_header   Host $host;
      proxy_set_header   X-Real-IP $remote_addr;
      proxy_set_header   Upgrade $http_upgrade;
      proxy_set_header   Connection $http_connection;
    }
  }
}
